<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Erick Hernández</title>
  <link rel="stylesheet" href="/static/style.css">

</head>

<body>
  <h1>Diego Arévalo del Río</h1>

  <h2>PORTFOLIO</h2>

  <!-- Botones de filtro -->
  <div id="myBtnContainer">
    <button class="btn active" onclick="filterSelection('all')"> Todo </button>
    <button class="btn" onclick="filterSelection('voluntariado')"> Voluntariado </button>
    <button class="btn" onclick="filterSelection('trabajo')"> Trabajo </button>
    <button class="btn" onclick="filterSelection('contactos')"> Contactos</button>
  </div>

  <!-- Contenido Portfolio -->
  <div class="row">

    <!-- Sección de Voluntariado -->
    <div class="column voluntariado">
      <div class="content">
        <h4>Voluntariado</h4>
      </div>
    </div>
    <div class="column voluntariado">
      <div class="content">
        <img src="/static/images/Pasitos logo fondo.png" alt="PASITOS" style="width:100%">
        <h4>PASITOS ESEN</h4>
        <p>2019 - Actualidad</p>
      </div>
    </div>
    <div class="column voluntariado">
      <div class="content">
        <img src="/static/images/TECHO.png" alt="TECHO" style="width:100%">
        <h4>TECHO</h4>
        <p>2019</p>
      </div>
    </div>
    <div class="column voluntariado">
      <div class="content">
        <img src="/static/images/champa.jpg" alt="Aventurate" style="width:100%">
        <h4>Pastoral juvenil</h4>
        <p>2018 - Actualidad</p>
      </div>
    </div>

    <!-- Sección de Experiencia Laboral -->
    <div class="column trabajo">
      <div class="content">
        <h4>Experiencia Laboral</h4>
      </div>
    </div>
    <div class="column trabajo">
      <div class="content">
        <img src="/static/images/Pasitos logo fondo.png" alt="PASITOS" style="width:100%">
        <h4>Director de marketing - PASITOS</h4>
        <p>2021 - Actualidad</p>
      </div>
    </div>
    <div class="column trabajo">
      <div class="content">
        <img src="/static/images/champa.jpg" alt="Pastoral" style="width:100%">
        <h4>Coordinador comunidades REMAR</h4>
        <p>2020 - Actualidad</p>
      </div>
    </div>
    <div class="column trabajo">
      <div class="content">
        <img src="/static/images/carnegie.jpg" alt="Dale Carnegie" style="width:100%">
        <h4>Coach - Dale Carnegie</h4>
        <p>2016 - 2018</p>
      </div>
    </div>

    <!-- Sección de Contactos -->
    <div class="column contactos">
      <div class="content">
        <h4>Contactos</h4>
      </div>
    </div>
    <div class="column contactos">
      <div class="content">
        <img src="/static/images/francisco-dominguez.jpg" alt="francisco-dominguez" style="width:100%">
        <h4>Francisco Domínguez</h4>
        <p>fdominguez@esen.edu.sv</p>
      </div>
    </div>
    <div class="column contactos">
      <div class="content">
        <img src="/static/images/Chema.jfif" alt="Chema" style="width:100%">
        <h4>Chema</h4>
        <p>jvelasquez@esen.edu.sv</p>
      </div>
    </div>
    <div class="column contactos">
      <div class="content">
        <img src="/static/images/David-Cruz.jpg" alt="David" style="width:100%">
        <h4>Balbino</h4>
        <p>dcruz@esen.edu.sv</p>
      </div>
    </div>
    <!-- END GRID -->
  </div>

  <!-- Javascript -->
  <script src="/static/script.js"></script>

</html>